@model DesafioFINAL.Models.LogProdutos

@{
    ViewData["Title"] = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar esse log?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.CNPJFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLog)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdLog" />
        <input type="submit" value="Deletar" class="btn btn-outline-danger" />
        <a class="btn btn-outline-dark" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
