@model DesafioFINAL.Models.LogProdutos

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LogProdutos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.CNPJFornecedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AcaoLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AcaoLog)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataLog)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdLog">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
