@model IEnumerable<DesafioFINAL.Models.LogProdutos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmailUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcaoLog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataLog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmailUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcaoLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataLog)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLog">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLog">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLog">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
